*.o
*.mod
test/f2003/hipblas/cgemm
test/f2003/hipblas/saxpy
test/f2003/hipblas/scopy
test/f2003/hipblas/sgemv
test/f2003/hipblas/sger
test/f2003/hipblas/sswap
test/f2003/hipfft/hipfft
test/f2003/vecadd/main
test/f2008/hipblas/cgemm
test/f2008/hipblas/saxpy
test/f2008/hipblas/scopy
test/f2008/hipblas/sgemv
test/f2008/hipblas/sger
test/f2008/hipblas/sswap
test/f2008/hipfft/hipfft
test/f2008/vecadd/main
build/
