*.o
*.mod
__pycache__
*.gpufort_mod
*.kernels.f08
*.kernels.hip.cpp
*.hipified.*
*-gpufort.cpp
*-gpufort.f*
*-fort2x.cpp
*-fort2x.f*
gpufort.h
gpufort_reductions.h
render*.template.*
python/gpufort/fort2x/templates/render.py.in
python/gpufort/fort2x/hip/templates/render.py.in
